<h2>Actors</h2>
<a
  class="btn btn-primary"
  routerLink="/actors/create"
  *ngIf="auth.isExecutiveProducer() || auth.isCastingDirector()"
  >Add actor</a
>

<ul class="actors">
  <li *ngFor="let actor of actors">
    <a routerLink="/actors/detail/{{ actor.id }}">
      <span class="badge">{{ actor.id }}</span> {{ actor.name }}
    </a>
    <button
      type="button"
      class="delete btn btn-primary"
      title="delete actor"
      [hidden]="auth.isCastingAssistance()"
      (click)="delete(actor)"
    >
      x
    </button>
  </li>
</ul>
